version: "3.9"

services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: imane123
      POSTGRES_DB: bikesharing
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "55432:5432"

  backend:
    build:
      context: ./backend
    depends_on:
      - db
    environment:
      DB_USER: postgres
      DB_PASSWORD: imane123
      DB_NAME: bikesharing
      DB_HOST: db
      DB_PORT: 5432
    ports:
      - "8000:8000"
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    depends_on:
      - backend
    ports:
      - "80:80"
    restart: unless-stopped

volumes:
  db_data:
