version: "3.9"

services:
  db:
    image: postgres:15
    container_name: bikesharing_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: imane123
      POSTGRES_DB: bikesharing
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: bikesharing_backend
    restart: always
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_USER: postgres
      DB_PASSWORD: imane123
      DB_NAME: bikesharing
      DB_HOST: db
      DB_PORT: 5432
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
    container_name: mikromobilitaet_frontend
    restart: always
    depends_on:
      - backend
    environment:
      VITE_DEV_SERVER_HOST: 0.0.0.0
    ports:
      - "5173:5173"

volumes:
  db_data:
